<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://www.dariuspalmer.getforge.io/index.html">Darius</a>. A web developer who is on a mission to develop the technical skills needed to launch his own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    Darius is learning how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and ‘Iolani High School.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'darius.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Darius Palmer</h2>
      <br />
      <p>
        Darius Palmer aspires to be a competent web developer and programmer. Having a long held interest in computers, computing and the internet, Darius is looking to develop the skills necessary to contribute to and be part of the ever growing digital universe.
      </p>
      <br />
    </div>  
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />